@*@model*@

@using System.Data
@using System.Web
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@using ShevaHomeCare.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationUserRoles> RoleManager
@inject ShevaHCRepo ShevaHcRepo






@{
    ViewData["Title"] = "Main DashBoard";
    var user = ShevaHcRepo.GetUser(User);
    var userRole = UserManager.GetRolesAsync(user).Result.SingleOrDefault();  //ShevaHcRepo.GetUserRole(user);
                                                                              // var kabanData = ViewData["NotDone"];
                                                                              // var kabanItem = new KabanItem();
    var patientList = UserManager.GetUsersInRoleAsync("Patient").Result; //ShevaHcRepo.GetPatientUsers();

}

<div class="ui violet piled segment container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <h4 id="usernameSinch">@user.UserName</h4>
</div>


@if (userRole == "Patient")
{
    <div class="ui right aligned internally celled grid inverted menu">
        <div class="centered row">
            <div class="right floated left aligned six wide column">
                <div class="ui violet segment">
                    <div>Select Your Language of Choice</div>

                    <div class="ui radio checkbox">
                        <input type="radio" name="lang" value="english" checked="checked">
                        <label> English </label>
                    </div>
                    <div class="ui radio checkbox">
                        <input type="radio" name="lang" value="spanish">
                        <label class="ui huge"> Spanish </label>
                    </div>
                    <div class="ui radio checkbox">
                        <input type="radio" name="lang" value="italian">
                        <label> Italian </label>
                    </div>
                </div>

            </div>
            <div class="right floated center aligned six wide column">
                <div class="ui segment">
                    <div class="ui toggle checkbox" id="startSpeech">
                        <input type="checkbox" name="public">
                        <label>Start Speech</label>
                    </div>
                </div>
            </div>
            <div class="right floated left aligned four wide column">
                <button class="massive ui inverted black labeled icon button" id="callCareGiver">
                    <i class="tty icon"></i>
                    Call Care Giver
                </button>
            </div>
        </div>
        <div class="item row">
            <div class="twelve wide column">
                <div class="ui purple segment">
                    <ej-kanban id="KabanBoard" dataSource="ViewBag.datasource" key-field="Status" allow-title="true" enable-total-count="true" allow-selection="true" is-responsive="true" allow-keyboard-navigation="true" allow-printing="true" class="e-kanbancontent" card-drop="cardDropped">

                        @*<e-datamanager crud-url="Home/ModifyKabanItem">

                            </e-datamanager>*@

                        <e-kanbancolumns>
                            <e-kanbancolumn header-text="New" key=@(new List<string>() {"Open"})>
                            </e-kanbancolumn>
                            <e-kanbancolumn header-text="In Progress" key=@(new List<string>() {"InProgress"})></e-kanbancolumn>
                            <e-kanbancolumn header-text="Done" key=@(new List<string>() {"Close"})></e-kanbancolumn>
                        </e-kanbancolumns>

                        <e-kanbanfield content="KabanitemDescription" primary-key="KabanItemID" swimlane-key="CareGiverName" title="ItemName" tag="CreatedItemTimeStamp">
                        </e-kanbanfield>

                        <e-kanbanscroll-settings width=@("70%") height=@("70%") allow-editing="true">

                        </e-kanbanscroll-settings>
                    </ej-kanban>
                </div>
            </div>
            <div class="four wide centered column">
                <div class="row">
                    <div>
                        @*<h3 class="center align">Mentally Stimulating Games</h3>*@
                        <br />
                        <div class="ui raised cards">
                            <div class="purple card">
                                <div class="ui centered image content">
                                    <img src="~/images/brain.jpg">
                                </div>

                                <div class="ui extra content">
                                    <select class="ui floating dropdown labeled icon button centered" id="brainGames">
                                        <i class="angle double down icon"></i>
                                        Brain Games
                                        <option class="item"> Select a Game</option>
                                        <option class="item" value="http://freebrainagegames.com/recall.html">
                                            Free Brain Age Games
                                        </option>
                                        <option class="item" value="https://www.brain-games.co.uk/game/Brain+Trainer">
                                            Free Brain Games UK
                                        </option>


                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <hr />
                @*<div class="ui inverted divider"></div>*@
                <div class="row">
                    <div>
                        @*<h3 >Simple NHS Physical Exercises</h3>*@
                        <br />
                        <div class="ui raised cards">
                            <div class="purple card">
                                <div class="ui centered image content">
                                    <img src="~/images/exercise.jpg">
                                </div>

                                <div class="ui extra content">
                                    <div class="ui bottom attached button" id="nhsExercise">
                                        <i class="heartbeat icon"></i>
                                        NHS Simple Exercises
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 id="itemsNum" hidden>@ViewBag.datasource.Count</h5>
        <h5 id="notItemsNum" hidden>@ViewData["NotDone"]</h5>

        <h5 id="mealName" hidden>@ViewData["MealName"]</h5>
        <h5 id="mealDes">@ViewData["MealDes"]</h5>

        <h5 id="drugName" hidden>@ViewData["DrugName"]</h5>
        <h5 id="drugDes">@ViewData["DrugDes"]</h5>

        <h5 id="exerName" hidden>@ViewData["ExerciseName"]</h5>
        <h5 id="exerDes">@ViewData["ExerciseDes"]</h5>

        <h5 id="miscName" hidden>@ViewData["MiscName"]</h5>
        <h5 id="miscDes" hidden>@ViewData["MiscDes"]</h5>
        

    </div>

}
else
{

    <div class="ui right aligned internally celled grid inverted menu">

        <div class="item row">
            <div class="twelve wide column">
                <ej-kanban id="KabanBoard" dataSource="ViewBag.datasource" key-field="Status" allow-title="true" enable-total-count="true" allow-selection="true" is-responsive="true" allow-keyboard-navigation="true" allow-printing="true" class="e-kanbancontent" allow-drag-and-drop="false">

                    @*<e-datamanager crud-url="Home/ModifyKabanItem">

                        </e-datamanager>*@

                    <e-kanbancolumns>
                        <e-kanbancolumn header-text="Backlog" key=@(new List<string>() {"Open"})>
                        </e-kanbancolumn>
                        <e-kanbancolumn header-text="In Progress" key=@(new List<string>() {"InProgress"})></e-kanbancolumn>
                        <e-kanbancolumn header-text="Done" key=@(new List<string>() {"Close"})></e-kanbancolumn>
                    </e-kanbancolumns>

                    <e-kanbanfield content="KabanitemDescription" primary-key="KabanItemID" swimlane-key="PatientName" title="ItemName" tag="CreatedItemTimeStamp">
                    </e-kanbanfield>

                    <e-kanbanscroll-settings width=@("70%") height=@("70%") allow-editing="true">

                    </e-kanbanscroll-settings>
                </ej-kanban>


            </div>
            <div class="four wide column">
                <div class="row">
                    <a href="">

                    </a>
                    <div class="ui card">
                        <div class="card">
                            <div class="ui slide masked reveal image">
                                <img src="~/images/jenny.jpg" class="visible content">
                                <img src="~/images/elliot.jpg" class="hidden content">
                            </div>

                            <div class="ui bottom attached button" id="addPatient">
                                <i class="add icon"></i>
                                Add New Patient To-Do Item
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui modal" id="addPatientModal">
        <div class="header">
            Add a New To-do Item for a Patient
        </div>

        <div class="content">
            <form class="ui form">
                @*<div asp-validation-summary="All" class="ui error message"></div>*@

                <div class="field error">
                    <label>Item Name</label>
                    <input id="itemName" class="form-control" />

                </div>

                <div class="field error">
                    <label>Item Type</label>
                    <select name="selectItemType" class="ui fluid dropdown" id="itemType">
                        <option value="@KabanItemType.Drug">Drug</option>
                        <option value="@KabanItemType.Meal">Meal</option>
                        <option value="@KabanItemType.Exercise">Exercise</option>
                        <option value="@KabanItemType.Miscellenous">Miscellaneous</option>
                    </select>
                    @*<input asp-for="@kabanItem.ItemType" class="form-control" />*@
                    @*<span asp-validation-for="@kabanItem.ItemType" class="text-danger"></span>*@
                </div>

                <div class="field error">
                    <label>Kaban Item Description</label>
                    <input id="itemDescription" class="form-control" />
                    @*<span asp-validation-for="@kabanItem.KabanitemDescription" class="text-danger"></span>*@
                </div>

                <div class="field error">
                    <label>Patient Name</label>
                    <select name="selectPatient" class="ui dropdown" id="patientName">
                        @foreach (var patient in patientList)
                        {
                            var patientName = patient.FirstName + " " + patient.LastName;
                            <option value="@patientName">@patientName</option>
                        }
                        @*<option value="Onotseike">Paula Aliu</option>*@
                    </select>
                    @*  <span asp-validation-for="@kabanItem.PatientName" class="text-danger"></span>*@
                </div>

                <div class="disabled field">
                    <label>Created Item Time Stamp</label>
                    <input id="createdTimeStamp" class="form-control" />
                    @*<span asp-validation-for="@kabanItem.CreatedItemTimeStamp" class="text-danger"></span>*@
                </div>

                <div class="disabled field">
                    <label>Care Giver Name</label>
                    <input id="careGiver" class="form-control" />
                    @*<span asp-validation-for="@kabanItem.CareGiverName" class="text-danger"></span>*@
                </div>

            </form>
        </div>

        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button" id="addTodo">
                Add To-do Item
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
}

<div class="ui fullscreen modal" id="callModal">
    <div class="header">
        <h2>Call Board</h2>
    </div>

    <div class="content">
        <div class="ui violet segments container">
            <div class="ui raised segment container">
                <div class="ui horizontal segments">
                    <div class="ui center aligned green segment">
                        <h3 class="">INCOMING VIDEO</h3>
                        <video id="incomingVideo" autoplay class="embed-responsive-16by9"></video>
                    </div>
                    <div class="ui center aligned blue segment">
                        <h3 class="">OUTGOING VIDEO</h3>
                        <video id="outgoingVideo" autoplay class="embed-responsive-16by9"></video>
                    </div>
                </div>

                <audio id="incomingAudio" autoplay></audio>

                <audio id="ringback" src='~/images/ringback.wav' loop></audio>
                <audio id="ringtone" src='~/images/phone_ring.wav' loop></audio>
            </div>

            <div class="ui raised center aligned segment container">
                <div class="massive ui inverted green buttons">
                    <button class="ui button" id="videoCallBtn">Video Call</button>
                    <div class="or"></div>
                    <button class="ui positive button" id="voiceCallBtn">Voice Call</button>
                </div>
            </div>

            <div class="ui raised center aligned segment container">
                <div class="massive ui inverted buttons">
                    <button class="ui negative button" id="endCallBtn">End Call</button>
                    <div class="or"></div>
                    <button class="ui positive button" id="answerCallBtn">Answer Call</button>
                </div>
                @* <button class="massive ui inverted red button" id="endCallBtn">End Call</button>*@
            </div>
        </div>
    </div>

</div>


@section Scripts
{
    <script>
        var counterItems;
        $(document).ready(function() {

            $('#addPatient').click(function() {
                $('.ui.modal#addPatientModal').modal('show');

                var ts = "@Html.Raw(HttpUtility.JavaScriptStringEncode(@DateTime.Now.ToString("g")))";

                $('#createdTimeStamp').val(ts);
                var cg = "@Html.Raw(HttpUtility.JavaScriptStringEncode(@user.FirstName + " " + @user.LastName))";


                $('#careGiver').val(cg);

            });

            $('div#addTodo').click(function() {
                var itemName = $('input#itemName').val();
                var itemType = $('select#itemType').val();
                var itemDescription = $('input#itemDescription').val();
                var patientName = $('select#patientName').val();
                var createdTimeStamp = $('input#createdTimeStamp').val();
                var careGiver = $('input#careGiver').val();


                $.ajax(
                    {
                        url: '/Home/AddPatientTodoItem',
                        type: "POST",
                        dataType: "json",
                        data: {
                            itemName: itemName,
                            itemType: itemType,
                            kabanItemDescription: itemDescription,
                            createdItemTimeStamp: createdTimeStamp,
                            patientName: patientName,
                            careGiverName: careGiver
                        },
                        success: function() {
                            console.log("Todo Item Added!!!");
                        }
                    });
            });

            $('#brainGames').change(function() {
                var url = $(this).val();
                window.open(url);
            });

            $('#nhsExercise').click(function() {
                window.open("https://www.nhs.uk/Tools/Documents/NHS_ExercisesForOlderPeople.pdf");
            });

            $('#callCareGiver').click(function() {
                $('#callModal').modal('setting', 'closable', false).modal('show');
            });

            counterItems = @ViewBag.datasource.Count;
            //console.log(counterItems);
            //console.log(typeof (counterItems));

        });
    </script>

    <script>
        function cardDropped(args) {
            //console.log(args.data[0]["Status"]);
            //console.log(typeof(args.data[0]) );

            var status = args.data[0]["Status"];
            var id = args.data[0]["KabanItemID"];

            $.ajax(
                {
                    url: '/Home/OnDropKabanItem',
                    type: "POST",
                    dataType: "json",
                    data: {
                        id: id,
                        status: status
                    },
                    success: function() {
                        console.log("Todo Item Updated!!!");
                    }
                });
        }
    </script>


    <script src="~/Calling.js"></script>
    @if (userRole == "Patient")
    {
        <script src="~/js/ROSWeb.js"></script>

        <script>
            //Call Setup()
            $(document).ready(function () {
                
                $('#startSpeech').checkbox({
                    onChecked: function () {
                        window.startSTTData = true;
                        startSTTPublish();

                    },
                    onUnchecked: function() {
                        
                        window.startSTTData = false;
                        startSTTPublish();
                    }
                


            });

            $('input[name=lang').click(function() {
                window.langdata = $('input[name=lang]:checked').val();
                langPublish();
                
            });
            });


        </script>

        



    }

}