@*@model*@

@using System.Web
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@using ShevaHomeCare.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationUserRoles> RoleManager
@inject ShevaHCRepo ShevaHcRepo




@{
    ViewData["Title"] = "Main DashBoard";
    var user = ShevaHcRepo.GetUser(User);
    var userRole = UserManager.GetRolesAsync(user).Result.SingleOrDefault();  //ShevaHcRepo.GetUserRole(user);
    var kabanData = ShevaHcRepo.GetAllKabanItems();
    // var kabanItem = new KabanItem();
    var patientList = UserManager.GetUsersInRoleAsync("Patient").Result; //ShevaHcRepo.GetPatientUsers();

}

<div class="ui violet piled segment container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <h2>@userRole</h2>
</div>


@if (userRole == "Patient")
{
    <div class="ui internally celled grid inverted menu">
        <div class="item row">
            <div class="twelve wide column">
                <div class ="ui purple segment">
                    <ej-kanban id="KabanBoard" dataSource="ViewBag.datasource" key-field="Status" allow-title="true" enable-total-count="true" allow-selection="true" is-responsive="true" allow-keyboard-navigation="true" allow-printing="true" class="e-kanbancontent" card-drop="cardDropped">

                        @*<e-datamanager crud-url="Home/ModifyKabanItem">

            </e-datamanager>*@

                        <e-kanbancolumns>
                            <e-kanbancolumn header-text="Backlog" key=@(new List<string>() {"Open"})>
                            </e-kanbancolumn>
                            <e-kanbancolumn header-text="In Progress" key=@(new List<string>() {"InProgress"})></e-kanbancolumn>
                            <e-kanbancolumn header-text="Done" key=@(new List<string>() {"Close"})></e-kanbancolumn>
                        </e-kanbancolumns>

                        <e-kanbanfield content="KabanitemDescription" primary-key="KabanItemID" swimlane-key="CareGiverName" title="ItemName" tag="CreatedItemTimeStamp">
                        </e-kanbanfield>

                        <e-kanbanscroll-settings width=@("70%") height=@("70%") allow-editing="true">

                        </e-kanbanscroll-settings>
                    </ej-kanban>
                </div>
            </div>
            <div class="four wide centered column">
                <div class="row">
                    <div>
                        <h3 class="center align">Mentally Stimulating Games</h3>
                        <br />
                        <div class="ui raised cards">
                            <div class="purple card">
                                <div class="ui centered image content">
                                    <img src="~/images/brain.jpg">
                                </div>

                                <div class="ui extra content">
                                    <select class="ui floating dropdown labeled icon button centered" id="brainGames">
                                        <i class="angle double down icon"></i>
                                        Brain Games
                                        <option class="item"> Select a Game</option>
                                        <option class="item" value="http://freebrainagegames.com/recall.html">
                                            Free Brain Age Games
                                        </option>
                                        <option class="item" value="https://www.brain-games.co.uk/game/Brain+Trainer">
                                            Free Brain Games UK
                                        </option>


                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="row">
                    <div>
                        <h3 class="center aligned">Simple NHS Physical Exercises</h3>
                        <br />
                        <div class="ui raised cards">
                            <div class="purple card">
                                <div class="ui centered image content">
                                    <img src="~/images/exercise.jpg">
                                </div>

                                <div class="ui extra content">
                                    <div class="ui bottom attached button" id="nhsExercise">
                                        <i class="heartbeat icon"></i>
                                       NHS Simple Exercises
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    
    <div class="ui internally celled grid inverted menu">
        <div class="item row">
            <div class="twelve wide column">
                <ej-kanban id="KabanBoard" dataSource="ViewBag.datasource" key-field="Status" allow-title="true" enable-total-count="true" allow-selection="true" is-responsive="true" allow-keyboard-navigation="true" allow-printing="true" class="e-kanbancontent" allow-drag-and-drop="false">
                    
                    @*<e-datamanager crud-url="Home/ModifyKabanItem">

                    </e-datamanager>*@

                    <e-kanbancolumns>
                        <e-kanbancolumn header-text="Backlog" key=@(new List<string>() {"Open"})>
                        </e-kanbancolumn>
                        <e-kanbancolumn header-text="In Progress" key=@(new List<string>() {"InProgress"})></e-kanbancolumn>
                        <e-kanbancolumn header-text="Done" key=@(new List<string>() {"Close"})></e-kanbancolumn>
                    </e-kanbancolumns>

                    <e-kanbanfield content="KabanitemDescription" primary-key="KabanItemID" swimlane-key="PatientName" title="ItemName" tag="CreatedItemTimeStamp">
                    </e-kanbanfield>

                    <e-kanbanscroll-settings width=@("70%") height=@("70%") allow-editing="true">

                    </e-kanbanscroll-settings>
                </ej-kanban>
                
               
            </div>
            <div class="four wide column">
                <div class="row">
                    <a href="">

                    </a>
                    <div class="ui card">
                        <div class="card">
                            <div class="ui slide masked reveal image">
                                <img src="~/images/jenny.jpg" class="visible content">
                                <img src="~/images/elliot.jpg" class="hidden content">
                            </div>

                            <div class="ui bottom attached button" id="addPatient">
                                <i class="add icon"></i>
                                Add New Patient Todo Item
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui modal">
        <div class="header">
            Add a New To-do Item for a Patient
        </div>
        
        <div class="content">
            <form class="ui form">
                @*<div asp-validation-summary="All" class="ui error message"></div>*@

                <div class="field error">
                    <label>Item Name</label>
                    <input id="itemName" class="form-control" />
                    
                </div>

                <div class="field error">
                    <label>Item Type</label>
                    <select name="selectItemType" class="ui fluid dropdown" id="itemType">
                        <option value="@KabanItemType.Drug">Drug</option>
                        <option value="@KabanItemType.Meal">Meal</option>
                        <option value="@KabanItemType.Exercise">Exercise</option>
                        <option value="@KabanItemType.Miscellenous">Miscellaneous</option>
                    </select>
                    @*<input asp-for="@kabanItem.ItemType" class="form-control" />*@
                    @*<span asp-validation-for="@kabanItem.ItemType" class="text-danger"></span>*@
                </div>

                <div class="field error">
                    <label>Kaban Item Description</label>
                    <input id="itemDescription" class="form-control" />
                    @*<span asp-validation-for="@kabanItem.KabanitemDescription" class="text-danger"></span>*@
                </div>

                <div class="field error">
                    <label>Patient Name</label>
                    <select name="selectPatient" class="ui dropdown" id="patientName">
                        
                        <option value="Onotseike">Paula Aliu</option>
                    </select>
                  @*  <span asp-validation-for="@kabanItem.PatientName" class="text-danger"></span>*@
                </div>

                <div class="disabled field">
                    <label>Created Item Time Stamp</label>
                    <input id="createdTimeStamp" class="form-control"/>
                    @*<span asp-validation-for="@kabanItem.CreatedItemTimeStamp" class="text-danger"></span>*@
                </div>
                
                <div class="disabled field">
                    <label>Care Giver Name</label>
                    <input id="careGiver" class="form-control"/>
                    @*<span asp-validation-for="@kabanItem.CareGiverName" class="text-danger"></span>*@
                </div>

            </form>
        </div>
        
        <div class="actions">
            <div class="ui red deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button" id="addTodo">
                Add To-do Item
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
}



@section Scripts
{
    <script>
        $(document).ready(function () {
           
            $('#addPatient').click(function () {
                $('.ui.modal').modal('show');

                var ts = "@Html.Raw(HttpUtility.JavaScriptStringEncode(@DateTime.Now.ToString("g")))";
                   
                $('#createdTimeStamp').val(ts);
                var cg = "@Html.Raw(HttpUtility.JavaScriptStringEncode(@user.FirstName + " "+ @user.LastName))";
                   

                $('#careGiver').val(cg);

            });

            $('div#addTodo').click(function () {
                var itemName = $('input#itemName').val();
                var itemType = $('select#itemType').val();
                var itemDescription = $('input#itemDescription').val();
                var patientName = $('select#patientName').val();
                var createdTimeStamp = $('input#createdTimeStamp').val();
                var careGiver = $('input#careGiver').val();


                $.ajax(
                    {
                        url: '/Home/AddPatientTodoItem',
                        type: "POST",
                        dataType: "json",
                        data: {
                            itemName: itemName,
                            itemType: itemType,
                            kabanItemDescription: itemDescription,
                            createdItemTimeStamp: createdTimeStamp,
                            patientName: patientName,
                            careGiverName: careGiver
                        },
                        success: function () {
                            console.log("Todo Item Added!!!");
                        }
                    });
            });

            $('#brainGames').change(function() {
                var url = $(this).val();
                window.open(url);
            });

            $('#nhsExercise').click(function() {
                window.open("https://www.nhs.uk/Tools/Documents/NHS_ExercisesForOlderPeople.pdf");
            })
        });
    </script>
    
    <script>
        function cardDropped(args) {
            //console.log(args.data[0]["Status"]);
            //console.log(typeof(args.data[0]) );
           
            var status = args.data[0]["Status"];
            var id = args.data[0]["KabanItemID"];

            $.ajax(
                {
                    url: '/Home/OnDropKabanItem',
                    type: "POST",
                    dataType: "json",
                    data: {
                        id: id,
                        status: status
                    },
                    success: function () {
                        console.log("Todo Item Updated!!!");
                    }
                });
        }
    </script>
}